<footer>
    <div class="container">
    {% if modules['pdfButtons']['startkinos']['use'] and modules['pdfButtons']['startkinos']['path'] != '' %}
        <a id="startkinos" class="pdf-button " href="{{modules['pdf_buttons']['startkinos']['path']}}" target="_blank">
            <p>
                <span class="top">STARTKINOS</span><br>
                <span class="bottom">Hier läuft der Film</span>
            </p>
        </a>
    {% endif %}
        <div class="row 12u$">
            <div class="center nav" id="footernav">
                <ul>
                    <li><a href="#" target="_blank">KINOFINDER</a></li>
                    <li><a href="#" target="_blank">FILMWECKER</a></li>
                    <li><a href="#" target="_blank">PRESSESERVER</a></li>
                    <li><a href="#" target="_blank">IMPRESSUM</a></li>
                </ul>
            </div>
        </div>

        <div class="row 12u$">
            <div class="center" id="kinostart">
                {{ release|raw }}
            </div>
        </div>
        
        <div class="row 12u$ copyright nav">
            <div class="center nav">
                <ul>
                    <li><a href="#" target="_blank">FIRMA</a></li>
                    <li><a href="#" target="_blank">PRESSE</a></li>
                    <li><a href="#" target="_blank">IMPRESSUM</a></li>
                </ul>
            </div>
        </div>

        <div class="row 12u$ copyright">
            <div class="center">
                <span class="cline">© 2014 FIRMA. Alle Rechte vorbehalten. made by <a href="http://www.novagraphix.de" target="_blank">novagraphix</a>
                </span>
            </div>
        </div>
        <div id="billing">BILLING IMAGE</div>

    {% if modules['pdfButtons']['schulmaterial']['use'] and modules['pdfButtons']['schulmaterial']['path'] != '' %}
        <a id="schulmaterial" class="pdf-button" href="{{modules['pdf_buttons']['schulmaterial']['path']}}" target="_blank">
            <p>
                <span class="top">Schulvorstellungen</span><br>
                <span class="bottom">Infos für Lehrer</span>
            </p>
        </a>
    {% endif %}

    </div>
</footer>

