<div id="modal_press" class="modal">
    <div class="inner container">
        <a href="#" class="close"><span class="cross"></span></a>
        <div class="row content">
            <div class="6u image">
                <!-- <img id="presse_plakat" src="images/presse_plakat.jpg" alt=""> -->
                <img id="presse_plakat" src="http://lorempixel.com/350/450" alt="">
            </div>
            <div class="6u text">
                <h3>Betreuende Presseagentur:</h3>
                <br>
                <address>
                    <span style="font-weight: 700;">media office</span>
                    <br> Pestalozzistraße 72
                    <br> 10627 Berlin
                    <br> Tel: +49 (0)30.88 71 44-0
                    <br> Fax: +49 (0)30.88 71 44-22
                    <br>
                </address>
                eMail:
                <span class="c-email"></span>
                <script type="text/javascript">
                    var iektaqx = ['l', 'm', 'c', 'p', '=', 'e', 'o', 'o', 'f', 'i', 'e', '"', '/', 'm', 'm', 'i', 'c', '-', 'd', 'r', 'c', 'f', 'n', '"', 'l', 'a', 'o', 'a', 'i', 'o', 's', 's', 'o', '"', 'i', ' ', 'i', 'm', 'r', 'm', 'f', '.', 'l', 'c', 'f', 'e', 'e', '=', 'i', 'r', 'f', '>', '-', 'p', '"', 'f', 'n', '-', 'm', 'a', '.', 'a', 's', 's', 'c', ' ', ':', '@', '@', 'e', 'e', '>', 'a', 'a', 'e', 'a', 'i', 'o', '-', 's', 'e', 'o', '<', 'i', 'e', 't', 's', 'h', '<', 'e', 'f', 'd'];
                    var yedoopf = [57, 9, 85, 78, 7, 39, 19, 71, 6, 68, 66, 44, 89, 54, 21, 24, 31, 26, 23, 35, 41, 18, 17, 52, 47, 90, 86, 10, 60, 27, 49, 37, 63, 58, 16, 2, 56, 65, 79, 87, 29, 40, 12, 75, 73, 32, 53, 51, 74, 4, 62, 59, 77, 34, 8, 28, 61, 33, 43, 48, 84, 69, 82, 38, 46, 45, 15, 64, 20, 5, 80, 91, 25, 55, 76, 1, 11, 14, 70, 81, 36, 42, 0, 30, 22, 13, 50, 3, 88, 83, 72, 67];
                    var pmabdxu = new Array();
                    for (var i = 0; i < yedoopf.length; i++) {
                        pmabdxu[yedoopf[i]] = iektaqx[i];
                    }
                    $('.c-email').html(pmabdxu.join(''));
                </script>
                <noscript>Please enable Javascript to see the email address</noscript>
                <br>
                <br>
                <p><a href="//www.filmpresskit.de/" target="_blank">Zum NFP-Presseserver</a></p>
            </div>
        </div>
    </div>
    <div class="modal_bg"></div>
</div>
