@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/he_btns";
@import "toolkit";
@import "libs/cites";
@import "libs/pdf_buttons";
#skel-layers-wrapper {
    height: 100%;
}
* { @include box-sizing(border-box); }
// 
body {
    line-height: 22px;
    font-size: 16px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f2eeec;
}
.row {
    
    .center {
        float: none;
        &>ul {
            text-align: center;
            li {
                display: inline;
                float: none;
            }
        }   
    }
}
.container {
    position: relative;
}
// ------------------------------
html, body, #page {
    height:100%;
}
.scotch-panel-wrapper,
.scotch-panel-canvas,
#page {
    display:table;
    width:100%;
}
header, footer, main {
    display:table-row;
}
header, footer{
    height:1px;
    position: relative;
}
.small main > .container {
    padding: 1.5em 1.5em 0;
}
// -------------------------------
a {
    color: white;
    text-decoration: none;
    @include transition;
    
}

a:hover {
    color: red;
    // 
}

img {
    border: 0;
    vertical-align: bottom;
    max-width: 100%;
    // height: auto;
}

h1 {
    color: red;
    padding-top:8px;
    padding-bottom: 10px;
    font-size: 40px;
    line-height:40px;
}

header {
    // text-align: center;
    height: 2em;
    line-height: 2em;
    width:100%;
    color: white;
    background-color: black;
    font-size: 18px;
    nav {
        text-transform: uppercase;
        ul {
            li:not(:first-child) {
                margin-left: 18px;
            }
            li {
                display: inline-block;
                list-style-type: none;
                a {
                    color: #fff;
                }
                a.active, a:hover {
                    color: #f00;
                }
            }
        }
    }
}

main {
    #content {
        margin: 20px 0 20px 0;
        &.home-entertainment {
            text-align: center;
            & .center {
                // margin: 0 auto;
                // width: 70%;
                text-align: left;
            }
        }
        #trailer {
            font-size: 14px;
            font-weight: 900;
            padding: 10px;
            display: inline;
            cursor: pointer;
            background-color: black;
            color: white;
            line-height: 46px;
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
    #footernav {
    
    }
    #kinostart {
        font-size: 30px;
        text-transform: uppercase;
    }
    .nav {
        ul {
            list-style: none;
            li {
                &:after {
                    // content:'\00a0'; // &nbsp;
                    content: '|';
                    padding: 0 5px;
                }
                &:last-child:after { display: none; }
            }
        }
    }
    #billing {

    }
}
