@import "compass/css3";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";


body {
    line-height: 22px;
    font-size: 16px;
    color: black;
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: #f2eeec;
}

section#page {
    margin: 0 auto;
    width: 960px;
    #content {
        margin: 20px 0 20px 0;
    }
}

a {
    color: white;
    text-decoration: none;
    @include transition;
}

a:hover {
    color: red;
}

img {
    border: 0;
    vertical-align: bottom;
}

h1 {
    color: red;
    padding-top:8px;
    padding-bottom: 10px;
    font-size: 40px;
    line-height:40px;
}

header {
    text-align: center;
    height:50px;
    width:100%;
    line-height: 50px;
    color: white;
    background-color: black;
    font-size: 18px;
    nav {
        text-transform: uppercase;
        ul {
            li:not(:first-child) {
                margin-left: 18px;
            }
            li {
                display: inline-block;
                list-style-type: none;
                a {
                    color: #fff;
                }
                a.active, a:hover {
                    color: #f00;
                }
            }
        }
    }
}

footer {
    padding-left: 20px;
    background-color: black;
    color: white;
    font-size: 12px;
    height:40px;
    line-height: 40px;
}