<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %} - {{ release|striptags }} - Offizielle Webseite
        </title>
        <meta name="description" content="description">
        <meta name="viewport" content="width=1024, user-scalable=yes, maximum-scale=1.0">
        {% if is_base %}
            <base href="{{ base }}">
        {% endif %}
        <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
        <script src="scripts/jquery-1.11.0.min.js"></script>
        <script src="scripts/jquery.cycle.lite.js"></script>
        {% if is_skel %}
            <script src="scripts/skel.min.js">
            {
              prefix: "css/screen",
              resetCSS: true,
              boxModel: "border",
              grid: { gutters: 0 },
              breakpoints: {
                wide: { range: "1024-", containers: 960 },
                narrow: { range: "481-1024", containers: 560 },
                mobile: { range: "-480", containers: "fluid", lockViewport: true, grid: { collapse: true } }
              }
            }
            </script>
            <script src="scripts/jquery.sidr.min.js"></script>
        {% else %}
            <link rel="stylesheet" href="css/screen.css">
        {% endif %}
        <script src="scripts/main.js"></script>
        <!--[if lt IE 9]>
            <script src="scripts/html5shiv.js">
            </script>
        <![endif]-->
    </head>

    <body>
    <header>
        <nav>
            <ul>
                <li><a {% if page == 'index' %}class="active"{% endif %} href="index.html">Home</a></li>
                <li><a {% if page == 'site2' %}class="active"{% endif %} href="site2.html">Site2</a></li>
            </ul>
        </nav>
    </header>
    {% block content  %}{% endblock %}
    {% if is_skel %}
    <div id="mobile-header" class="only-mobile">
        <a id="mobile-menu-button" href="#sidr-main"><img src="images/mobilemenu.png" width="100" height="35"></a>
    </div>
    {% endif %}
    {% block styles %}{% endblock %}
    </body>
</html>