<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %} - {{ release|striptags }} - Offizielle Webseite
        </title>
        <meta name="description" content="description">
        {% if is_base %}
            <base href="{{ base }}">
        {% endif %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300' rel='stylesheet' type='text/css'>
        <script src="scripts/jquery-1.11.1.min.js"></script>
        <script src="scripts/jquery.cycle2.min.js"></script>
        <script src="scripts/nova.ytOverlay.js"></script>
        {% if is_skel %}
            <script src="scripts/skel.min.js"></script>
            <script type="text/javascript">
                skel.init({
                  reset: 'full',
                  breakpoints: {
                    global: {
                        href: 'css/screen.css',
                        containers: 1400,
                        grid: {
                            gutters: [0, 0]
                        }
                    },
                    large: {
                        media: '(max-width: 1400px)',
                        href: 'css/screen-large.css',
                        containers: 960,
                        grid: {
                            gutters: [0, 0]
                        }
                    },
                    medium: {
                        media: '(max-width: 1024px)',
                        href: 'css/screen-medium.css',
                        containers: '90%',
                        grid: {
                            gutters: [0, 0],
                            zoom: 2
                        }
                    },
                    small: {
                        media: '(max-width: 960px)',
                        href: 'css/screen-small.css',
                        containers: '90%',
                        grid: {
                            gutters: [0, 0],
                            zoom: 3
                        }
                    },
                  }
                });
            </script>
            <script src="scripts/scotchPanels.min.js"></script>
        {% else %}
            <link rel="stylesheet" href="css/screen.css">
        {% endif %}
        <script src="scripts/main.js"></script>
        <!--[if lt IE 9]>
            <script src="scripts/html5shiv.js">
            </script>
        <![endif]-->
    </head>

    <body>
    <div id='sitePreloader'>
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <header>
        <nav>
            <ul>
                {% include 'elements/navigation.html' %}
            </ul>
        </nav>
    </header>
    {% block content  %}{% endblock %}
    <footer>
        <div id="footernav">
            <a href="#" target="_blank">KINOFINDER</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" target="_blank">FILMWECKER</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" target="_blank">PRESSESERVER</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" target="_blank">IMPRESSUM</a>
        </div>
        <div id="kinostart">{{ release|raw }}</div>
        <div id="copyright"><a href="#" target="_blank">FIRMA</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" target="_blank">PRESSE</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" target="_blank">IMPRESSUM</a>
            <br>
            <span class="cline">© 2014 FIRMA. Alle Rechte vorbehalten. made by <a href="http://www.novagraphix.de" target="_blank">novagraphix</a>
            </span>
        </div>
        <div id="billing">BILLING IMAGE</div>
    </footer>
    {% if is_skel %}
    <div id="mobile-header" class="only-small">
        <img id="mobile-menu-button" src="images/mobilemenu.png" width="100" height="35">
    </div>
    <div id="mobile-panel" class="only-mobile">
        <ul>
            {% include 'elements/navigation.html' %}
        </ul>
    </div>
    {% endif %}
    {% block styles %}{% endblock %}
    </body>
</html>